.single_property {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(235, 234, 233, 0.782);
    width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px 31px;
}


.left_photo img {
    width: 500px;
    height: 460px;
    border-radius: 15px;
}

.right_photos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right_photos img {
    width: 230px;
    height: 150px;
    border-radius: 15px;
}

.single_property_more_photos p {
    position: absolute;
    top: 77%;
    left: 90px;
    font-size: 41px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: monospace;
}

.single_property_all_photos img {
    width: 310px;
    height: 260px;
    border-radius: 15px;
}

.single_property_all_photos_container{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 650px;
    background-color: rgb(192, 192, 192);
    overflow: hidden;
    overflow-y: scroll;
    z-index: 99;
}


.single_property_all_photos{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 7px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
   
}

.single_property_details{
    display: flex;
    flex-direction: column;
}

#single_property_price{
    color: #008080;
    font-weight: 600;
}

.single_property_ul li{
    background-color: #008080b3;
    border-radius: 15px;
    padding: 7px 11px;
}

@media screen and (max-width: 840px){
    .single_property {
        width: 600px;
    }
    .left_photo img {
        width: 400px;
        height: 370px;
    }
    .right_photos img {
        width: 230px;
        height: 120px;
    }
    .single_property_more_photos p {
        top: 75%;
        left: 75px;
    }
}
@media screen and (max-width: 630px){
    .single_property {
        width: 400px;
        padding: 5px 15px;
    }
    .left_photo img {
        width: 420px;
        height: 270px;
    }
    .right_photos img {
        width: 240px;
        height: 85px;
    }
    .single_property_more_photos p {
        top: 73%;
        left: 45px;
        font-size: 35px;
    }
}
@media screen and (max-width: 430px){
    .single_property {
        width: 350px;
        padding: 5px 15px;
    }
    .single_property_more_photos p {
        top: 75%;
        left: 37px;
        font-size: 31px;
    }
}